.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
}

.App-link {
  color: #61dafb;
}

.body {
  min-height: 90vh;
  overflow: auto;
  background: whitesmoke;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}
